<div class="container">

  <div class="heading">
    <h1>Image Gallery</h1>
    <h2>Created By <a href="https://atdilakshan.github.io/" target="_blank">AT Dilakshan</a></h2>
    <h3>This is Angular Project</h3>

    <p>Angular is a popular javascript framework for Frontend development.</p>
  </div>

  <div class="gallery">
    
    <div class="category-box">
      <ul class="category-lists">
        <li class="category-list active" data-filter="all">All</li>
        <li class="category-list" data-filter="car">Car</li>
        <li class="category-list" data-filter="boat">Boat</li>
        <li class="category-list" data-filter="helicopter">Helicopter</li>
        <li class="category-list" data-filter="motorbike">Motorbike</li>
      </ul>
    </div>

    <div class="image-box">
      <ul class="image-lists">

        <li class="image-list" data-item="boat">
          <img src="assets/images/src/boat1.jpg" alt="Boat 1" />
        </li>
        
        <li class="image-list" data-item="car">
          <img src="assets/images/src/car1.jpg" alt="Boat 1" />
        </li>
        
        <li class="image-list" data-item="helicopter">
          <img src="assets/images/src/helicopter1.jpeg" alt="Boat 1" />
        </li>
        
        <li class="image-list" data-item="motorbike">
          <img src="assets/images/src/motorbike1.jpg" alt="Boat 1" />
        </li>
        
      </ul>
    </div>

  </div>
</div>
